* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

:root {
    --red-color: #fd4646;
    --green-color: #02ac70;
    --white-color: #fff;
    --background-color: #1e1e2a;

}

img {
    width: 100%;
}

body {
    color: var(--white-color);
    background-color: #1e1e2a;
    
}




header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--background-color);
    box-shadow: 0 1px 4px hsla(0, 0%, 98%, 0.1);
    z-index: 100;
}


.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    width: 20%;
    height: 50px;
   
   
}

#cart-icon {
    position: relative;
    font-size:28.8px;
    cursor: pointer;
}


/* Cart */

.cart {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--background-color);
    box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 32px;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    border-top: 1px solid var(--green-color);
}

.total-title {
    font-size: 19.2px;
    font-weight: 600;
    margin-top: 16px;

}

.total-price {
    font-size: 17.2px;
    margin: 16px 11.2px;

}

.buy {
    display: flex;
    justify-content: center;
    margin: 24px;
    padding: 12px 20px;
    width: 50%;
    text-align: center;
    border: none;
    border-radius: 32px;
    background: var(--green-color);
    color: var(--bg-color);
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}

#close-cart {
    position: absolute;
    top: 16px;
    right: 12.8px;
    font-size: 32px;
    color: var(--green-color);
    cursor: pointer;

}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 16px;
    margin-top: 16px;

}

.cart-img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.detail-box {
    display: grid;
    gap: 0.5rem;

}

.cart-product-title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-meny {
    border: 1px solid var(--green-color);
    outline-color: var(--red-color);
    width: 44.8px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;

}

.cart-remove {
    font-size: 24px;
    color: var(--red-color);
    cursor: pointer;

}



.section-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    
}

.shop {
    margin-top: 32px;
}

#shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 54px;
}

.product-box {
    position: relative;
    background: #2d2e37;
    padding: 10px;
    border-radius: 5px;

}

.product-box:hover {
    background: var(--white-color);
    box-shadow: 0 8px 32px hsla(0.75, 0.82, 0.165, 1);

}

.product-box:hover .product-title,
.product-box:hover .price {
    color: #141414;
}

.product-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 8px;
}

.product-title {
    font-size: 17.6px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12.8px;
}

.price {
    font-weight: 500;
}

.add-cart-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--green-color);
    color: var(--white-color);
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 50%;

}

.add-cart-button:hover {
    background: #281d39;

}


/* Success page */

.success-payment {
    height: 826px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.success-payment img {
    width: 200px;
    margin: 32px;
}

.success-payment h1 {
    font-size: 44.8px;
    margin-bottom: 10px;
}

.success-payment p {
    max-width: 600px;
    font-size: 15px;
    text-align: center;
    margin: 8px;
}

.back-home {
    padding: 12px 20px;
    border-radius: 32px;
    background-color: var(--green-color);
    color: var(--bg-color);
}

/* Cancel page */

.cancel-payment {
    height: 826px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cancel-payment img {
    width: 200px;
    margin: 32px;
}

.cancel-payment h1 {
    font-size: 44.8px;
    margin-bottom: 10px;
}

.cancel-payment p {
    max-width: 600px;
    font-size: 15px;
    text-align: center;
    margin: 8px;
}

.back-home {
    padding: 12px 20px;
    border-radius: 32px;
    
}